<html>
<head>
    <link rel="stylesheet" href="styles/perfil.css">
</head>
<body>
    <header></header>

    <div ng-init="getUsuarioAtual()">
        <div class="name">
            {{ perfil.nome }}
            <div class="email">{{ perfil.email }}</div>

            <div class="buttons">
                <button><a href="/#!/perfil/editar">
                    EDITAR PERFIL
                </a></button>
                <button><a href="/#!/post">
                    NOVA POSTAGEM
                </a></button>
            </div>
        </div>
        
        <div ng-init="getMyPosts()" class="posts">
            <div ng-repeat="postagem in postagens">
                <div ng-if="postagens.length">
                    <postagem usuario="perfil" postagem="postagem"></postagem>
                </div>
                <div ng-if="!postagens.length" class="noPosts">
                    Parece que você ainda não postou nada.
                </div>
            </div>
        </div>
    </div>
</body>
</html>
