<link rel="stylesheet" href="styles/login.css">
<logo></logo>

<form name="form" novalidate ng-submit="registrarUsuario()">
    <div class="registerContainer"> 
        <div class="register">REGISTRAR</div>

        <input 
            placeholder="Nome" 
            name="nome" 
            class="field"
            ng-required="true"
            ng-model="nome"
        >
        <input 
            placeholder="E-mail" 
            name="email" 
            class="field"
            type="email"
            ng-required="true"
            ng-model="email"
        >
        <input 
            placeholder="Senha" 
            name="senha" 
            class="field" 
            type="password"
            ng-required="true"
            ng-model="senha"
        > 
        <input 
            type="submit" 
            value="CRIAR CONTA" 
            ng-disabled="form.$invalid"
        >

        <div class="errors">
            <div class="validationError" ng-show="form.nome.$dirty && form.nome.$invalid">
                Campo nome é obrigatório.
            </div>
            <div class="validationError" ng-show="form.email.$dirty && form.email.$invalid">
                É obrigatório um endereço de E-Mail válido!
            </div>
            <div class="validationError" ng-show="form.senha.$dirty && form.senha.$invalid">
                Campo senha é obrigatório.
            </div>
        </div>
        <div ng-if="msg" class="message">{{ msg }}</div>
    </div>
</form>

<button><a href="#!/login">VOLTAR</a></button>