<html>
<head>
    <link rel="stylesheet" href="styles/login.css">
</head>
<body>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/2560px-AngularJS_logo.svg.png" height=69>
    <div class="container">  
        <div class="register">REGISTRAR</div>
        <input placeholder="Nome" class="field">
        <input placeholder="E-mail" class="field"> 
        <input placeholder="Senha" class="field">
        <button>CRIAR CONTA</button>
        <button><a href="#!/login">VOLTAR</a></button>
    </div>
</body>
</html>