<html>
    <link rel="stylesheet" href="styles/usuario.css">
<head>
</head>
<body>
    <div ng-controller="usuarioController">
        <header></header>

        <div ng-init="getUsuario()"></div>
        <perfil-usuario usuario="usuario"></perfil-usuario>

        <div ng-controller="postController" ng-init="getUserPosts()">
            <div ng-if="postagens.length" ng-repeat="postagem in postagens">
                <postagem usuario="usuario" postagem="postagem"></postagem>
            </div>
            <div class="noPosts">{{ msg }}</div>
        </div>
    </div>
</body>
</html>
