<div class="post">
    <div ng-if="!$ctrl.deleted.includes($ctrl.postagem.id)">
        <hr> <b>{{ $ctrl.usuario.nome }}: </b> {{ $ctrl.postagem.texto }}

        <div ng-if="sessao === $ctrl.usuario.id">
            <div class="postButtons">
                <button><a href="/#!/post/editar/{{ $ctrl.postagem.id }}">
                    EDITAR
                </a></button>
            
                <button ng-click="$ctrl.excluir()">
                    EXCLUIR
                </button>
            </div>
        </div>
    </div>
    
    <div ng-if="$ctrl.deleted.includes($ctrl.postagem.id)" class="deleted">
        Postagem deletada com sucesso.
    </div>
</div>