body { 
    background-color:#ffebd4; 
    text-align: center;
}
button { 
    margin-bottom: 3px; 
}
img {
    margin-top: 15px;
    margin-bottom: 15px;
}
a { 
    color: inherit; 
    text-decoration: none;
}
.container {
    width: 420px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-style: double;
    border-width: 4px;
    margin-bottom: 9px;
}
.login {
    font-size: 50px;
    margin-bottom: 8px;
}
.register {
    font-size: 40px;
    margin-bottom: 8px;
}
.field { 
    margin-bottom: 3px; 
}
.link {
    color: #c80000;
}
