body {
    margin-left: 20px;
    background-color: #dfdfdf;
}
.profileContainer {
    width: 500px;
}
.buttons {
    text-align: center;
}
.name {
    max-width: fit-content;
    background-color: white;
    padding: 20px;
    border-style: double;
    border-width: 4px;
    font-size: 40px;
    margin-top: 20px;
}
.email {
    font-size: 19px;
}
.post {
    width: 500px;
    margin-bottom: 25px;
}
.title {
    font-size: 26px;
    margin-bottom: 22px;
}
.postButtons {
    text-align: right;
    margin-right: 25px;
    margin-top: 8px;
}
.deleted {
    color: #c80000;
}
.noPosts {
    color:#c80000;
    font-size: 20px;
    margin-top: 10px;
}
.posts {
    margin-top: 20px;
}